.footer_Link:hover{
color: aqua !important;
}

.footer_bg{
    background-image: linear-gradient(90deg ,rgb(250, 253, 250),rgb(240, 252, 240) ,rgb(231, 250, 231),rgb(210, 245, 210));
}

.footerEndBg{
    background-image: linear-gradient(90deg , rgb(210, 239, 245),rgb(190, 236, 249),rgb(164, 221, 240),rgb(143, 226, 245));
    border-radius: 0px 0px 50px 50px;
}