.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.ub-bg-clr_white{
  background-color: white !important;
  border-bottom:1px solid rgb(76, 75, 75 ,.3) !important;
  border-top:0px solid black !important;
  border-right:0px solid black !important;
  border-left:0px solid black !important;
  font-size: 1.3rem;
  font-weight: 600;
  color:rgba(74, 105, 189,1.0);
}